<div class='row form-group'>
	
	<div class="panel panel-default" ng-hide="buttonUpdate">
		<a ng-href="./#/adherents" class='btn btn-warning btn-sm col-xs-2 col-xs-offset-10'>
			<span class="glyphicon glyphicon-circle-arrow-left"></span> Retour
		</a>
		<div class="panel-heading">
			<h1 class="panel-title">Détails adhérent</h1>
		</div>
		<div class='panel-body'>
			<div class='row form-group'>
				<div class="row col-sm-5 col-sm-offset-1">
					<span class='col-sm-3  col-xs-6 col-sm-offset-1 col-xs-offset-1'>Nom : </span>
					<label class='col-sm-4  col-xs-5' ng-bind="datas.nom"> </label>
				</div>
				<div class="col-xs-5 col-sm-offset-1">
					<span class='col-sm-3  col-xs-6 col-sm-offset-1 col-xs-offset-1'>Prenom : </span>
					<label class='col-sm-4  col-xs-5' ng-bind="datas.prenom"></label>
				</div>
			</div>
			<div class='row form-group'>
				<div class="row col-sm-5 col-sm-offset-1">
					<span class='col-sm-3  col-xs-6 col-sm-offset-1 col-xs-offset-1'>Naissance : </span>
					<label class='col-sm-4  col-xs-5' ng-bind="datas.date_naissance | date:'dd-MM-yyyy'"></label>
				</div>
				<div class="row col-sm-5 col-sm-offset-1">
					<span class='col-sm-3  col-xs-6 col-sm-offset-1 col-xs-offset-1'>Mail : </span>
					<label class='col-sm-4  col-xs-5' ng-bind="datas.email"></label>
				</div>
				
			</div>
			<div class='row form-group'>
				<div class="row col-sm-5 col-sm-offset-1">
					<span class='col-sm-3  col-xs-6 col-sm-offset-1 col-xs-offset-1'>Date cotisation : </span>
					<label class='col-sm-4  col-xs-5' ng-bind="datas.cotisation.debut  | date:'dd-MM-yyyy'"></label>
				</div>
				<div class="row col-sm-5 col-sm-offset-1">
					<span class='col-sm-3  col-xs-6 col-sm-offset-1 col-xs-offset-1'>Montant : </span>
					<label class='col-sm-4  col-xs-5' ng-bind="datas.cotisation.montant | currency:'€'"> </label>
				</div>
			</div>
			<div class='row form-group'>
				<div class=" col-sm-5 col-sm-offset-1">
					<span class='col-sm-3  col-xs-6 col-sm-offset-1 col-xs-offset-1'>Adresse : </span>
					<label class='col-sm-4  col-xs-5'>
					<p>{{datas.adresse.ligne2}} {{datas.adresse.ligne1}},</p>
					<p>{{datas.adresse.codepostal}} {{datas.adresse.ville}}<p></label>
				</div>
			</div>
		</div>
		</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-info" ng-click="switchEditView()">Modifier</button>
			</div>
		</div>

	<!-- 		UPDATE			 -->

	<div class="panel panel-default" ng-show="buttonUpdate">
		<div class="panel-heading">
			<h3 class="panel-title">Détails adhérent</h3>
		</div>
		<div class='panel-body'>
			<div class='row form-group'>
				<div class="row col-sm-5 col-xs-12 col-sm-offset-1  form-inline">
					<span class="text-left col-sm-4 col-xs-12">Nom : </span> 
					<input type='text' class="form-control col-sm-offset-1 col-xs-12"
					ng-model="updateAdherent.nom"></input>
				</div>
				<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline">
					<span class="text-left col-sm-4 col-xs-12">Prenom : </span>
					 <input type='text' class="form-control col-sm-offset-1 col-xs-12"
					 ng-model="updateAdherent.prenom"></input>
				</div>
			</div>
			<div class='row form-group'>
				<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline">
					<span class="text-left col-sm-4 col-xs-12">Date de naissance : </span>
					<input type='date' class="form-control col-sm-offset-1 col-xs-12"
					ng-model="updateAdherent.date_naissance"></input>
				</div>
				<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline">
					<span class="text-left col-sm-4 col-xs-12">Mail : </span>
					<input type='mail' class="form-control col-sm-offset-1 col-xs-12"
					ng-model="updateAdherent.email"></input>
				</div>
			</div>
			<div class='row form-group'>
				<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline">
					<span class="text-left col-sm-4 col-xs-12">n° : </span>
					<input type='text' class="form-control col-sm-offset-1 col-xs-12" 
					ng-model="adresse.ligne1"></input>
				</div>
				<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline">
					<span class="text-left col-sm-4 col-xs-12">libéllé de rue : </span>
					<input type='text' class="form-control col-sm-offset-1 col-xs-12"
					ng-model="adresse.ligne2 "></input>
				</div>
			</div>
			<div class='row form-group'>
				<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline">
					<span class="text-left col-sm-4 col-xs-12">code postal : </span>
					<input type='text' class="form-control col-sm-offset-1 col-xs-12"
					ng-model="adresse.codepostal "></input>
				</div>
				<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline">
					<span class="text-left col-sm-4 col-xs-12">ville : </span>
					<input type='text' class="form-control col-sm-offset-1 col-xs-12"
					ng-model="adresse.ville"></input>
				</div>
			</div>
			<div class='row form-group'>
				<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline">
					<span class="text-left col-sm-4 col-xs-12">Date cotisation : </span>
					<input type='date' class="form-control col-sm-offset-1 col-xs-12"
					ng-model="updateAdherent.cotisation.debut"></input>
				</div>
				<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline">
					<span class="text-left col-sm-4 col-xs-12">Montant cotisation : </span>
					<input type='number' class="form-control col-sm-offset-1 col-xs-12"
					ng-model="updateAdherent.cotisation.montant"></input>&euro;
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button class="btn btn-success" type="submit" ng-click="newUpdateAdherent()">Enregistrer</button>
			<button type="button" class="btn btn-warning" ng-click="switchEditView()">Annuler</button>
		</div>
	</div>	
</div>

<!-- 		TABLEAU DES EMPRUNTS		 -->

<div class='row form-group'>
	<div ng-hide="isAddingEmprunt()">
		<button class="btn btn-success" type="button" ng-click="setAddingEmprunt()">Nouvel emprunt</button>
	</div>
	<div ng-show="isAddingEmprunt()">
		<button class="btn btn-warning" type="button" ng-click="addingEmprunt = !addingEmprunt">Annuler</button>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th><button class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"></button></th>
				<th>Titre
					<button class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"></button>
				</th>
				<th>Auteur
					<button class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"></button>
				</th>
				<th>Date d'emprunt
					<button class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"></button>
				</th>
				<th>Date de retour
					<button class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"></button>
				</th>
				<th>Détails</th>
			</tr>
		</thead>
		<tbody>
			<!-- ajouter un emprunt -->
			<tr ng-show="isAddingEmprunt()" ng-form="formEmprunt" novalidate>
				<td></td>
				<td><input name="titre" type='text'
					placeholder="Titre de l'oeuvre" class="form-control"
					ng-model="emprunt.titre" required></input></td>
				<td><input name="auteur" type='text'
					placeholder="Auteur de l'oeuvre" class="form-control"
					ng-model="emprunt.auteur" required></input></td>
				<td><input name="date" type="date" class="form-control"
					placeholder="Date de l'emprunt" ng-model="emprunt.date" required>
				</td>
				<td><span ng-show="hasError">Oeuvre inexistante</span></td>
				<td>
					<button class="btn btn-success form-group col-xs-12" type="button"
						ng-disabled="formEmprunt.$invalid" ng-click="addEmprunt()">Ajouter</button>
				</td>
			</tr>
			<!-- Liste des emprunts -->
			<tr ng-repeat="emprunt in medias">
				<td>#{{$index}}</td>
				<td><span
					ng-class="{'glyphicon glyphicon-film': emprunt.media.type === 'DVD',
						 						'glyphicon glyphicon-music':emprunt.media.type ==='CD',
						 						'glyphicon glyphicon-book':emprunt.media.type ==='Livre'}">
				</span> {{emprunt.media.titre}}</td>
				<td ng-bind="emprunt.media.auteur"></td>
				<td ng-bind="emprunt.depart | date:'dd-MM-yyyy'"></td>
				<td ng-bind="emprunt.retour | date:'dd-MM-yyyy'"></td>
				<td class="btn-detail"><a ng-href="./#/media/{{emprunt.media.id}}">
						<button type="button" class="btn btn-info">
							<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
						</button>
				</a></td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-info col-xs-offset-11">Voir plus</button>
</div>