<div class='row form-group'>
		<a href="./rechercheAdherent.html" class='btn btn-warning btn-sm col-xs-2 col-xs-offset-10'>
			<span class="glyphicon glyphicon-circle-arrow-left"></span>  Retour
		</a>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Détails adhérent</h3>
			  </div>
			  <div class ='panel-body'>
			  	<div class='row form-group'>
				  	<div class="col-xs-5 col-xs-offset-1">
				    	<span class='col-xs-3'>Nom : </span><label class='col-xs-offset-1'>Drouard </label> 
				 	</div>
				 	<div class="col-xs-5 col-xs-offset-1">
				 		<span class='col-xs-3'>Prenom : </span><label class='col-xs-offset-1'>Guillaume </label> 
				 	</div>
			  	</div>
				<div class='row form-group'>
					<div class="col-xs-5 col-xs-offset-1">
						<span class='col-xs-3'>Date de naissance : </span><label class='col-xs-offset-1'>13/12/1995 </label> 
				 	</div>
				 	<div class="col-xs-5 col-xs-offset-1 ">
				 		<span class='col-xs-3'>Adresse : </span><label class='col-xs-offset-1'>12 rue du Boulevard, 34000 Montpellier</label> 
				 	</div>
				</div>
				<div class='row form-group'>
					<div class="col-xs-5 col-xs-offset-1">
						<span class='col-xs-3'>Date cotisation : </span><label class='col-xs-offset-1'>01/02/2017</label> 
				 	</div>
					<div class="col-xs-5 col-xs-offset-1">
						<span class='col-xs-3'>Montant cotisation : </span><label class='col-xs-offset-1'>60,00 &euro;</label>
				 	</div>
				</div>
				<div class='row form-group'>
				 	<div class="col-xs-5 col-xs-offset-1">
				 		<span class='col-xs-3'>Mail : </span><label class='col-xs-offset-1'>gDrouard@mail.fr</label>
				 	</div>
				</div>
			  </div>
				
			  
			  <div class="panel-footer">
			  	<a href='./affichageAdherent_erreur.html' class='btn btn-info'>Modifier</a>
			  </div>
			</div>	
		</div>
		<div class='row form-group'>
			<a href='./affichageAdherent_erreur.html' class='btn btn-success'>Nouvel emprunt</a>
			<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titre <button class="btn btn-default glyphicon glyphicon-sort-by-alphabet"></button></th>
							<th>Auteur <button class="btn btn-default glyphicon glyphicon-sort-by-alphabet"></button></th>
							<th>Détails</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Le petit cheval de manège</td>
							<td>Just Leblanc</td>
							<td>
								<a href="./affichageMedia.html">
									<button type="button" class="btn btn-info col-xs-12">
					    				<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					    			</button>
								</a>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Batman Lego</td>
							<td>Lego</td>
							<td>
								<a href="./affichageMedia.html">
									<button type="button" class="btn btn-info col-xs-12">
					    				<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					    			</button>
								</a>
							</td>
						</tr>
					</tbody>
			</table>
			<button type="button" class="btn btn-info col-xs-offset-11">Voir plus</button>
		</div>