<div class='row form-group'>
		<a ng-href="./#/adherents" class='btn btn-warning btn-sm col-xs-2 col-xs-offset-10'>
			<span class="glyphicon glyphicon-circle-arrow-left"></span>  Retour
		</a>
			<div class="panel panel-default" ng-hide="buttonUpdate">
			  <div class="panel-heading">
			    <h3 class="panel-title">Détails adhérent</h3>
			  </div>
			  <div class ='panel-body'>
			  	<div class='row form-group'>
				  	<div class="col-xs-5 col-xs-offset-1">
				    	<span class='col-xs-3'>Nom : </span><label class='col-xs-offset-1' ng-bind="datas.nom"> </label> 
				 	</div>
				 	<div class="col-xs-5 col-xs-offset-1">
				 		<span class='col-xs-3'>Prenom : </span><label class='col-xs-offset-1' ng-bind="datas.prenom"></label> 
				 	</div>
			  	</div>
				<div class='row form-group'>
					<div class="col-xs-5 col-xs-offset-1">
						<span class='col-xs-3'>Date de naissance : </span><label class='col-xs-offset-1'ng-bind="datas.date_naissance | date:'dd-MM-yyyy'"></label> 
				 	</div>
				 	<div class="col-xs-5 col-xs-offset-1 ">
				 		<span class='col-xs-3'>Adresse : </span><label class='col-xs-offset-1'>{{datas.adresse.ligne2}} {{datas.adresse.ligne1}}, {{datas.adresse.codepostal}} {{datas.adresse.ville}}</label> 
				 	</div>
				</div>
				<div class='row form-group'>
					<div class="col-xs-5 col-xs-offset-1">
						<span class='col-xs-3'>Date cotisation : </span><label class='col-xs-offset-1'ng-bind="datas.cotisation.debut"></label> 
				 	</div>
					<div class="col-xs-5 col-xs-offset-1">
						<span class='col-xs-3'>Montant cotisation : </span><label class='col-xs-offset-1' ng-bind="datas.cotisation.montant | currency:'€'"> </label>
				 	</div>
				</div>
				<div class='row form-group'>
				 	<div class="col-xs-5 col-xs-offset-1">
				 		<span class='col-xs-3'>Mail : </span><label class='col-xs-offset-1' ng-bind="datas.email">gDrouard@mail.fr</label>
				 	</div>
				</div>
			  </div>
				
			  <div class="panel-footer">
			  <button type="button" class="btn btn-info" ng-click="buttonUpdate = !buttonUpdate">Modifier</button>
			  </div>
			</div>
				
				
				<!-- 		UPDATE			 -->
				
				
			<div class="panel panel-default" ng-show="buttonUpdate">
		  <div class="panel-heading">
		    <h3 class="panel-title">Détails adhérent</h3>
		  </div>
		  <div class ='panel-body'>
		  	<div class='row form-group'>
			  	<div class="col-xs-5 col-xs-offset-1 form-inline">
			    	<span class="col-xs-3">Nom : </span> <input type='text' ng-model="updateAdherent.nom" class="form-control col-xs-offset-1" placeholder='Drouard'></input>
			 	</div>
			 	<div class="col-xs-5 col-xs-offset-1 form-inline">
			 		<span class="col-xs-3">Prenom : </span> <input type='text' ng-model="updateAdherent.prenom" class="form-control col-xs-offset-1" placeholder='Guyguy'></input>
			 	</div>
		  	</div>
			<div class='row form-group'>
				<div class="col-xs-5 col-xs-offset-1 form-inline">
					<span class="col-xs-3">Date de naissance : </span> <input type='date' ng-model="updateAdherent.date_naissance" class="form-control col-xs-offset-1"></input>
			 	</div>
			 	<div class="col-xs-5 col-xs-offset-1 form-inline">
			 		<span class="col-xs-3">Adresse : </span> <input type='text' class="form-control col-xs-offset-1" placeholder='12 rue du Boulevard, 34000 Montpellier'></input>
			 	</div>
			</div>
			<div class='row form-group'>
				<div class="col-xs-5 col-xs-offset-1 form-inline">
					<span class="col-xs-3">Date cotisation : </span> <input type='date' ng-model="updateAdherent.cotisation.debut" class="form-control col-xs-offset-1"></input>
			 	</div>
				<div class="col-xs-5 col-xs-offset-1 form-inline">
					<span class="col-xs-3">Montant cotisation : </span> <input type='number' ng-model="updateAdherent.cotisation.montant" class="form-control col-xs-offset-1" placeholder='60'></input>&euro;	
			 	</div>
			</div>
			<div class='row form-group'>
			 	<div class="col-xs-5 col-xs-offset-1 form-inline">
			 		<span class="col-xs-3">Mail : </span> <input type='mail' ng-model="updateAdherent.email" class="form-control col-xs-offset-1" placeholder='gDroudard@mail.fr'></input>
			 	</div>
			</div>
		  </div>
		  <div class="panel-footer">
		  	<button class="btn btn-success" type="submit" ng-click="newUpdateAdherent()">Enregistrer</button>
		  	<button type="button" class="btn btn-warning">Annuler</button>
		  </div>
		</div>
</div>
		<div class='row form-group'>
			<a href='./affichageAdherent_erreur.html' class='btn btn-success'>Nouvel emprunt</a>
			<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titre <button class="btn btn-default glyphicon glyphicon-sort-by-alphabet"></button></th>
							<th>Auteur <button class="btn btn-default glyphicon glyphicon-sort-by-alphabet"></button></th>
							<th>Date de retour</th>
							<th>Détails</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="emprunt in medias">
							<td>{{$index}}</td>
							<td><span ng-class="{'glyphicon glyphicon-film': emprunt.media.type === 'DVD',
						 						'glyphicon glyphicon-music':emprunt.media.type ==='CD',
						 						'glyphicon glyphicon-book':emprunt.media.type ==='Livre'}">
					 			</span>
					 			 {{emprunt.media.titre}}
						 	</td>
							<td ng-bind="emprunt.media.auteur"></td>
							<td ng-bind="emprunt.retour"></td>
							<td>
								<a ng-href="./#/media/{{emprunt.media.id}}">
									<button type="button" class="btn btn-info col-xs-12">
					    				<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					    			</button>
								</a>
							</td>
						</tr>
					</tbody>
			</table>
			<button type="button" class="btn btn-info col-xs-offset-11">Voir plus</button>
		</div>