<div class='row form-group'>
			<form class="form-inline">
 			  <div class="form-group col-xs-7">
 			  	<div class="input-group">
 			  	  <input type="text" class="form-control" placeholder="Rechercher">
			      <span class="input-group-btn">
			        <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
			      </span>
 			  	</div>
			  </div>
			  <a href='./creationAdherent.html' class="btn btn-success col-xs-2 col-xs-offset-3">
			 	Nouveau
			  </a>
			</form>
		</div>

		 <div class='row form-group'>
			 <table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom <button class="btn btn-default glyphicon glyphicon-sort-by-alphabet"></button></th>
						<th>Prénom <button class="btn btn-default glyphicon glyphicon-sort-by-alphabet"></button></th>
						<th>Date de naissance</th>
						<th>Cotisation</th>
						<th>Possessions</th>
						<th>Mail</th>
						<th>Détails</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Drouard</td>
						<td>Guillaume</td>
						<td>13/12/1995</td>
						<td class="icon-tab"><span class="glyphicon glyphicon-ok icon-success"></span></td>
						<td>12</td>
						<td>gDrouard@mail.fr</td>
						<td>
						<a href="./affichageAdherent.html">
							<button type="button" class="btn btn-default">
			    				<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
			    			</button>
						</a>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Marchand</td>
						<td>Fabien</td>
						<td>15/07/1994</td>
						<td class="icon-tab"><span class="glyphicon glyphicon-warning-sign icon-error"></span></td>
						<td>4</td>
						<td>fMarchand@mail.fr</td>
						<td>
							<a href="./affichageAdherent.html">
								<button type="button" class="btn btn-default">
				    				<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
				    			</button>
							</a>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>De Garam</td>
						<td>Raphaël</td>
						<td>01/05/1990</td>
						<td class="icon-tab"><span class="glyphicon glyphicon-remove icon-warning"></span></td>
						<td>0</td>
						<td>rDeGaram@mail.fr</td>
						<td>
							<a href="./affichageAdherent.html">
								<button type="button" class="btn btn-default">
				    				<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
				    			</button>
							</a>
						</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Bricas</td>
						<td>Samuel</td>
						<td>15/07/1993</td>
						<td class="icon-tab"><span class="glyphicon glyphicon-ok icon-success"></span></td>
						<td>5</td>
						<td>sBricas@mail.fr</td>
						<td>
							<a href="./affichageAdherent.html">
								<button type="button" class="btn btn-default">
				    				<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
				    			</button>
							</a>
						</td>					
					</tr>
				</tbody>
			 </table>
			 <button type="button" class="btn btn-info col-xs-offset-11">Voir plus</button>
		 </div>