<div class='row form-group'>
	<form class="searchForm" ng-submit="startSearch()">
		<div class="form-group col-xs-9">
			<div class="input-group">
				<input type="text" class="form-control"
					ng-model="search.id" placeholder="Par id">
				<div class="input-group-btn">
					<input type="text" class="form-control" ng-model="search.nom"
						placeholder="Par nom">
				</div>
				<div class="input-group-btn">
					<input type="text" class="form-control" ng-model="search.prenom"
						placeholder="Par prénom">
				</div>
				<div class="input-group-btn">
					<input type="text" class="form-control" ng-model="search.email"
						placeholder="Par email">
				</div>
				<div class="input-group-btn">
					<input type="text" class="form-control"
						ng-model="search.nomOuPrenom" placeholder="Par nom/prénom">
				</div>
				<span class="input-group-btn">
					<button class="btn btn-info" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
		<a href='#/adherent' class="btn btn-success col-xs-2 col-xs-offset-1">
			Nouveau </a>
	</form>
</div>

<div class='row form-group'>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>ID
					<button class="btn btn-info glyphicon" ng-class="{'glyphicon-sort-by-order' : !sortedId, 'glyphicon-sort-by-order-alt' : sortedId}" ng-click="sortId()"></button>
				</th>
				<th>Nom
					<button class="btn btn-info glyphicon" ng-class="{'glyphicon-sort-by-alphabet' : !sortedNom, 'glyphicon-sort-by-alphabet-alt' : sortedNom}" ng-click="sortNom()"></button>
				</th>
				<th>Prénom
					<button class="btn btn-info glyphicon" ng-class="{'glyphicon-sort-by-alphabet' : !sortedPrenom, 'glyphicon-sort-by-alphabet-alt' : sortedPrenom}" ng-click="sortPrenom()"></button>
				</th>
				<th>Date de naissance</th>
				<th>Cotisation</th>
				<th>Possessions</th>
				<th>Email
					<button class="btn btn-info glyphicon" ng-class="{'glyphicon-sort-by-alphabet' : !sortedEmail, 'glyphicon-sort-by-alphabet-alt' : sortedEmail}" ng-click="sortEmail()"></button>
				</th>
				<th>Détails</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="adherent in adherents">
				<td ng-bind="adherent.id"></td>
				<td ng-bind="adherent.nom"></td>
				<td ng-bind="adherent.prenom"></td>
				<td ng-bind="adherent.date_naissance | date:'dd-MM-yyyy'"></td>
				<td class="icon-tab"><span
					class="glyphicon"
					ng-class="{ 'glyphicon-ok icon-success':adherent.cotisation.fin >= (currentDate | date:'yyyy-MM-dd'),
					'glyphicon-remove icon-error':!(adherent.cotisation.fin >= (currentDate | date:'yyyy-MM-dd'))}">
				</span></td>
				<td ng-bind="adherent.nombre_media"></td>
				<td ng-bind="adherent.email"></td>
				<td><a href="#/adherent/{{adherent.id}}">
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
						</button>
				</a></td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-info col-xs-offset-11">Voir
		plus</button>
</div>