<div class="row form-group">
		<div class="panel panel-default" ng-hide="buttonUpdate">
			<a ng-href="./#/medias" class="btn btn-warning btn-sm col-sm-2 col-sm-offset-10 ">
				<span class="glyphicon glyphicon-circle-arrow-left"></span> Retour
			</a>
			<div class="panel-heading">
				<h1 class="panel-title">Details du Média</h1>
			</div>
			
			<div class="panel-body">
				<div class="row form-group">
				<div class="row col-sm-5 col-sm-offset-1 " >
				 <span class="col-sm-3  col-xs-6 col-sm-offset-1 col-xs-offset-1">Titre :</span>
				 <label class="col-sm-4  col-xs-5" ng-bind="datas.titre"></label>
				</div>
				
				<div class="row col-sm-5 col-sm-offset-1 ">
					<span class="col-sm-4 col-xs-6 col-sm-offset-1 col-xs-offset-1">Auteur :</span>
					<label class="col-sm-4 col-xs-5" ng-bind="datas.auteur"></label>
				</div>
				</div>
			
				<div class="row form-group">
					<div class="row col-sm-5 col-sm-offset-1" >
					 <span class="col-sm-3 col-xs-6 col-sm-offset-1 col-xs-offset-1">Type :</span>
					 <label class="col-sm-4 col-md-5 col-xs-5"> 
					 <span ng-class="{'glyphicon glyphicon-film': datas.type === 'DVD',
						 	'glyphicon glyphicon-music':datas.type ==='CD',
						 	'glyphicon glyphicon-book':datas.type ==='LIVRE'}">
					 </span> {{datas.type}}</label>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-info" ng-click="switchEditView()">Modifier</button>
			</div>
		</div>
		
		<!--			 UPDATE 				-->

		<div class="panel panel-default" ng-show="buttonUpdate">
			<div class="panel-heading">
				<h1 class="panel-title">Details du Média</h1>
			</div>
			<form class="form" ng-submit="newUpdateMedia()" name="FormMedia" novalidate>
			<div class="panel-body">
				<div class="form-group row">
					<div class="row col-sm-5 col-xs-12 col-sm-offset-1  form-inline"
					ng-class="{'has-error': FormMedia.Titre.$dirty && !FormMedia.Titre.$valid, 'has-feedback': FormMedia.Titre.$dirty && !FormMedia.Titre.$valid }">
						<span class="text-left col-sm-4 col-xs-12">Titre :</span>
						<input type="text" name="Titre" class="form-control col-sm-offset-1 col-xs-12"
						ng-model="updateMedia.titre" required ng-required='(updateMedia.titre) ? true : false'></input>
					</div>
					<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline">
						<span class="text-left col-sm-4 col-xs-12">Auteur :</span>
						<input type="text" name="Auteur" class="form-control col-sm-offset-1 col-xs-12"
						ng-model="updateMedia.auteur" required></input>
					</div>
				</div>
			
				<div class="row form-group">
					<div class="row col-sm-5 col-xs-12 col-sm-offset-1 form-inline" >
					<span class="col-sm-5 col-xs-12">Type :</span>
				   <select name="singleSelect" id="singleSelect" ng-model="updateMedia.type" class="btn btn-default dropdown-toggle form-control col-xs-12">
     					<option value="LIVRE"><span ng-class="glyphicon glyphicon-book"></span> Livre</option>
      					<option value="CD"><span ng-class="glyphicon glyphicon-music"></span> CD</option>
      					<option value="DVD"><span ng-class="glyphicon glyphicon-film"></span> DVD</option>
   					 </select>
					</div>
				</div>
			</div>
			
			<div class="panel-footer">
				<button class="btn btn-success" type="submit" ng-disabled="myForm.Titre.$dirty && myForm.Titre.$invalid ||  
					myForm.Auteur.$dirty && myForm.Auteur.$invalid">Enregistrer</button>	
				<button class="btn btn-warning" type="submit" ng-click="switchEditView()">Annuler</button>	
			</div>
			</form>
		</div>
</div>
	
	<!--  TABLEAU DES EMPRUNTS -->

<div class="row form-group">
	<div ng-hide="isAddingEmprunt()">
		<button class="btn btn-success" type="button" ng-click="setAddingEmprunt()" >Nouvel emprunt</button>
	</div>
	<div  ng-show="isAddingEmprunt()">
		<button class="btn btn-warning" type="button" ng-click="addingEmprunt = !addingEmprunt">Annuler</button>
	</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th><button class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"></button></th>
					<th>Nom
						<button class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"></button></th>
					<th>Prénom
						<button class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"></button></th>
					<th>Date de l'emprunt
						<button class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"></button></th>
					<th>Date de retour prévu
						<button class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"></button></th>
					<th>Détails</th>
					</tr>
			</thead>
			<tbody>
					<!-- ajouter un emprunt -->
				<tr ng-show="isAddingEmprunt()" ng-form="formEmprunt" novalidate>
					<td></td>
					<td><input type="text" class="form-control" placeholder="Nom" ng-model="emprunt.nom" required></td>
					<td><input type="text" class="form-control" placeholder="Prénom" ng-model="emprunt.prenom" required></td>
					<td><input type="text" class="form-control" placeholder="Date de l'emprunt" ng-model="emprunt.date" required></td>
					<td><span ng-show="hasError">Adherent inexistante</span></td>
					<td>
						<button type="button" class="btn btn-success form-group col-sm-12" ng-disabled="formEmprunt.$invalid" ng-click="addEmprunt()">Ajouter</button>
					</td>
				</tr>
				<tr ng-repeat="adherent in emprunteurs">
					<td>#{{$index}}</td>
					<td ng-bind='adherent.adherent.nom'></td>
					<td ng-bind='adherent.adherent.prenom'></td>
					<td ng-bind='adherent.depart'></td>
					<td ng-bind='adherent.retour'></td>
					<td class="btn-detail">
						<a ng-href="./#/adherent/{{adherent.adherent.id}}">
							<button type="button" class="btn btn-info">
					    		<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					    	</button>
						</a>
					</td>
				</tr>				
			</tbody>
		</table>
	<button class="btn btn-info form-group col-xs-offset-11 btn-sm" type="button" ng-click="">Voir plus</button>
</div>