<div class="row form-group">
		<div class="panel panel-default">
			<a ng-href="./#/medias" class="btn btn-warning btn-sm col-xs-2 col-xs-offset-10 ">
				<span class="glyphicon glyphicon-circle-arrow-left"></span> Retour
			</a>
			<div class="panel-heading">
				<h1 class="panel-title">Details du Média</h1>
			</div>
			
			<div class="panel-body">
				<div class="row form-group">
				<div class="row col-xs-5 col-xs-offset-1 " >
				 <span class="col-xs-3 col-xs-offset-1">Titre :</span>
				 <label class="col-xs-offset-1" ng-bind="datas.titre"></label>
				</div>
				
				<div class="row col-xs-5">
					<span class="col-xs-3 col-xs-offset-1">Auteur :</span>
					<label class="col-xs-offset-1" ng-bind="datas.auteur"></label>
				</div>
				</div>
			
				<div class="row form-group">
					<div class="row col-xs-5 col-xs-offset-1" >
					 <span class="col-xs-3 col-xs-offset-1">Type :</span>
					 <label class="col-xs-offset-1"> 
					 <span ng-class="{'glyphicon glyphicon-film': datas.type === 'DVD',
						 'glyphicon glyphicon-music':datas.type ==='CD',
						 'glyphicon glyphicon-book':datas.type ==='Livre'}">
					 </span> {{datas.type}}</label>
					</div>
				</div>
			</div>
			
			<div class="panel-footer">
				<a href="./affichageMedia_erreur.html">
				<button type="button" class="btn btn-info">Modifier</button>
				</a>	
			</div>
		</div>
	</div>
	<div class="row form-group">
		<button class="btn btn-success" type="button">Nouvel emprunt</button>
		<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom <button class="btn btn-default glyphicon glyphicon-sort-by-alphabet"></button></th>
						<th>Prénom <button class="btn btn-default glyphicon glyphicon-sort-by-alphabet"></button></th>
						<th>Date de l'emprunt</th>
						<th>Date de retour prévu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="adherent in emprunteurs">
						<td >{{$index}}</td>
						<td ng-bind='adherent.adherent.nom'></td>
						<td ng-bind='adherent.adherent.prenom'></td>
						<td ng-bind='adherent.depart'></td>
						<td ng-bind='adherent.retour'></td>
					</tr>				
				</tbody>
		</table>
		<button class="btn btn-info form-group col-xs-offset-11 btn-sm" type="button">Voir plus</button>
</div>