


<form ng-submit="createMedia()" name="mediaForm">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Création média</h3>
		</div>


		<div class=" panel-body">

			<div
				class="form-group row col-md-5 col-sm-12 col-xs-12 col-sm-offset-1 form-inline">
				<span class="text-left col-sm-4 col-xs-12"> <label
					for="titre" class="control-label" style="white-space: nowrap">Titre
						:</label>
				</span> <input ng-model="media.titre" type="text"
					class="form-control col-sm-offset-1" id="titre" name="titre"
					placeholder="Titre" required>
			</div>


			<div class="form-group row col-md-5 col-sm-12 col-xs-12 col-sm-offset-1 form-inline ">
				<span class="text-left col-sm-4 col-xs-12"><label for="titre"
					class="control-label">Type :</label></span>

					<select ng-model="media.type" class="form-control  col-sm-offset-1"
						id="type" required>
						<option value="Livre"><span
								class="glyphicon glyphicon-book"></span> Livre
						</option>
						<option value="CD"><span
								class="glyphicon glyphicon-music"></span> CD
						</option>
						<option value="DVD"><span
								class="glyphicon glyphicon-film"></span> DVD
						</option>
					</select>
</div>

	
			<div
				class="form-group row col-md-5 col-sm-12 col-xs-12 col-sm-offset-1 form-inline ">
				<span class="text-left col-sm-4 col-xs-12"> <label
					for="titre" class="control-label ">Auteur :</label>
				</span> <input ng-model="media.auteur" type="text"
					class="form-control col-sm-offset-1" " id="autre" name="autre"
					placeholder="Auteur" required>
			</div>

		</div>

		<div class="panel-footer">
			<a href="./creationMedia_erreur.html"><input type="submit"
				class="btn btn-success text-center" value="Enregistrer"></input></a>
			<button type="button" class="btn btn-warning text-center">Annuler</button>
		</div>
	</div>


</form>
