<div class='row form-group'>
	<form class="searchForm" ng-submit="startSearch()">
		<div class="form-group col-xs-9 row">
			<div class="col-xs-3 col-md-2 label-search">
				<label>Recherche</label>
			</div>
			<div class="input-group col-xs-9 col-md-10">
				<input type="text" class="form-control" ng-model="search.titre"
					placeholder="Titre">
				<div class="input-group-btn">
					<input type="text" class="form-control" ng-model="search.auteur"
						placeholder="Auteur">
				</div>
				<div class="input-group-btn">
					<select type="text" class="form-control" ng-model="search.type">
						<option value="">Tous</option>
						<option value="LIVRE">Livre</option>
						<option value="CD">CD</option>
						<option value="DVD">DVD</option>
					</select>
				</div>
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
		<a href='#/media' class="btn btn-success col-xs-2 col-xs-offset-1">Nouveau</a>
	</form>
</div>

<div class='row form-group'>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					<button class="btn btn-sort btn-xs btn-info glyphicon"
						ng-class="{'glyphicon-sort-by-order' : !sortedTab['Id'].asc, 'glyphicon-sort-by-order-alt' : sortedTab['Id'].asc}"
						ng-click="sort('Id')"></button>
				</th>
				<th>Titre
					<button class="btn btn-sort btn-xs btn-info glyphicon"
						ng-class="{'glyphicon-sort-by-alphabet' : !sortedTab['Titre'].asc, 'glyphicon-sort-by-alphabet-alt' : sortedTab['Titre'].asc}"
						ng-click="sort('Titre')"></button>
				</th>
				<th>Auteur
					<button class="btn btn-sort btn-xs btn-info glyphicon"
						ng-class="{'glyphicon-sort-by-alphabet' : !sortedTab['Auteur'].asc, 'glyphicon-sort-by-alphabet-alt' : sortedTab['Auteur'].asc}"
						ng-click="sort('Auteur')"></button>
				</th>
				<th>Libre
					<button
						class="btn btn-sort btn-xs btn-info glyphicon glyphicon-sort"
						ng-click="sort('Disponibilite')"></button>
				</th>
				<th>Détails</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="media in medias
			| orderBy: sortedTab['Id'].asc && 'id' 
			| orderBy: sortedTab['Id'].desc && '-id' 
			| orderBy: sortedTab['Titre'].asc && 'titre' 
			| orderBy: sortedTab['Titre'].desc && '-titre' 
			| orderBy: sortedTab['Auteur'].asc && 'auteur' 
			| orderBy: sortedTab['Auteur'].desc && '-auteur' 
			| orderBy: sortedTab['Disponibilite'].asc && 'retour'
			| orderBy: sortedTab['Disponibilite'].desc && '-retour'
			| limitTo:sizeArrayMedia">
				<td>#{{ media.id }}</td>
				<td><span class="glyphicon"
					ng-class="{'glyphicon-film': media.type === 'DVD',
						 'glyphicon-music':media.type ==='CD',
						 'glyphicon-book':media.type ==='LIVRE'}">
				</span> {{media.titre}}</td>
				<td ng-bind='media.auteur'></td>
				<td class="icon-tab"><span class="glyphicon"
					ng-class="{'glyphicon-ok icon-success': (media.retour === undefined),
						'glyphicon-remove icon-error': (media.retour != undefined)}">
				</span></td>
				<td class="btn-detail"><a href="#/media/{{media.id}}">
						<button type="button" class="btn btn-info">
							<span class="glyphicon glyphicon-new-window"></span>
						</button>
				</a></td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-info col-xs-offset-11"
		ng-click="addSize()" ng-disabled="sizeMaxMedia">voir plus</button>
</div>